page-reset-password {
    ion-content {
        background: url(../assets/imgs/darksea.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        .item-md, .item-ios {
          background: none;
        }
    }

}
