page-chatroom {
    .home{
        background-image: url('../../assets/imgs/darksea.jpg');
        background-repeat :no-repeat;
        background-size:cover; 
        display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color:darkgreen;
    }
    
}
